@page
@model IndexModel
@{
  ViewData["Title"] = "Avalonia UI Framework";
  ViewData["SidebarBackground"] = "purple-gradient";
}

@section Sidebar {
  <h1>avalonia</h1>
  <p>
    A cross platform XAML framework for .NET
  </p>

  <ul class="platform-logos">
    <li><img src="/images/platform-logos/windows.png" alt="Windows">
    <li><img src="/images/platform-logos/osx.png" alt="OSX">
    <li><img src="/images/platform-logos/linux.png" alt="Linux">
    <li><img src="/images/platform-logos/rpi.png" alt="Raspberry Pi">
  </ul>

  <ul class="button-bar">
    <li><a class="button" href="/docs/quickstart">Get started</a>
    <li><a class="button" href="/support">Get support</a>
  </ul>
}

@section HeroContent {
  <div class="homepage-hero">
    <div class="carousel-fade">
      <div>
        <img src="/images/heroes/windows-rider.png" alt="Avalonia in Rider on Windows">
      </div>
      <div>
        <img src="/images/heroes/osx-vscode.png" alt="Avalonia in Visual Studio Code on OSX" loading="lazy">
      </div>
      <div>
        <img src="/images/heroes/windows-vs.png" alt="Avalonia in Visual Studio on Windows" loading="lazy">
      </div>
      <div>
        <img src="/images/heroes/osx-rider.png" alt="Avalonia in Rider on OSX" loading="lazy">
      </div>
    </div>
    <div class="dev-tools">
      <p>Develop a single UI that runs everywhere using</p>
      <ul>
        <li>
          <a href="https://www.jetbrains.com/rider/" title="JetBrains Rider" target="_blank" rel="noopener">
            <img src="/images/dev-tool-logos/icon-rider.svg" alt="JetBrains Rider">
          </a>
        </li>
        <li>
          <a href="https://www.jetbrains.com/resharper/" title="JetBrains Resharper" target="_blank" rel="noopener">
            <img src="/images/dev-tool-logos/icon-resharper.svg" alt="JetBrains Resharper">
          </a>
        </li>
        <li>
          <a href="https://visualstudio.microsoft.com/" title="Visual Studio" target="_blank" rel="noopener">
            <img src="/images/dev-tool-logos/visualstudio.svg" alt="Visual Studio 2019">
          </a>
        </li>
        <li>
          <a href="https://visualstudio.microsoft.com/" title="Visual Studio for Mac" target="_blank" rel="noopener">
            <img src="/images/dev-tool-logos/vsformac.svg" alt="Visual Studio for Mac">
          </a>
        </li>
        <li>
          <a href="https://visualstudio.microsoft.com/" title="Visual Studio Code" target="_blank" rel="noopener">
            <img src="/images/dev-tool-logos/vs-code.png" alt="Visual Studio Code">
          </a>
        </li>
      </ul>
    </div>
  </div>
}

<div class="three-columns">
  <section id="xaml" class="bg-gray1 dock-grid">
    <div class="dock-center">
      <h1 class="with-img">XAML <img src="/images/home/xaml.svg" alt="xaml icon"></h1>
      <p><strong>Avalonia uses a XAML dialect that should feel immediately familiar to anyone coming from WPF, UWP and Xamarin Forms.</strong>
      <p>Avalonia supports binding, MVVM, lookless controls and data templates just as you’d expect from a XAML framework.</p>
    </div>
    <a class="button dock-bottom" href="/docs/quickstart/intro-to-xaml">Find out more</a>
  </section>

  <section id="xplat" class="bg-gray2 dock-grid">
    <div class="dock-center">
      <h1 class="with-img">Cross platform <img src="/images/home/xplat.svg" alt="cross platform icon"></h1>
      <p><strong>Create applications for Windows, Linux and OSX without recompiling!</strong>
      <p>Avalonia uses a cross-platform rendering engine based on Skia with windowing backends for Win32, X11 and OSX plus experimental support for Android and iOS.</p>
    </div>
    <a class="button dock-bottom" href="/docs/quickstart">Find out more</a>
  </section>

  <section id="oss" class="bg-gray1 dock-grid">
    <div class="dock-center">
      <h1 class="with-img">Open Source <img src="/images/home/oss.svg" alt="open source icon"></h1>
      <p><strong>Avalonia is developed by a global community of enthusiasts in our GitHub repository and in our gitter channel.</strong>
      <p>Everything is done in the open and we’re always looking for new contributors. Drop by and say hi!</p>
    </div>
    <a class="button dock-bottom" href="/contributing">Find out more</a>
  </section>
</div>

<section id="getting-started" class="with-img-right-responsive">
  <h1>Getting started</h1>
  <div>
    <p>
      See our quickstart guide for information on how to get started with Avalonia using JetBrains Rider, Visual Studio or the .NET command-line.
      core.
    </p>
    <p>More IDEs and editors coming soon.</p>
  </div>
  <a class="button dock-bottom" href="/docs/quickstart">Get started</a>
  <img src="/images/home/getting-started.svg" alt="getting started">
</section>

<section id="support" class="with-img-right-responsive purple-gradient">
  <h1>Getting support</h1>
  <p>
    Need help building an Avalonia application? Whether you're an enthusiast or a company making a commercial product, you have
    somewhere to turn.
  </p>
  <p>
    There are a number of support options for Avalonia, including paid support and custom
    development via AvaloniaUI OÜ and community support via GitHub issues and our Gitter
    chatroom.
  </p>
  <a class="button dock-bottom" href="/support">Get support</a>
  <img src="/images/home/getting-support.svg" alt="getting support">
</section>

<section id="partners">
  <h1>Selected Partners</h1>
  <p>
    Avalonia is proud of the work we do with many companies including:
  </p>
  <ul class="selected-partners">
    <li>
      <a href="https://www.jetbrains.com/" title="JetBrains" target="_blank" rel="noopener">
        <img src="/images/selected-partners/jetbrains.png" alt="JetBrains">
      </a>
    </li>
    <li>
      <a href="https://www.unity.com/" title="Unity" target="_blank" rel="noopener">
        <img src="/images/selected-partners/unity.svg" alt="Unity">
      </a>
    </li>
    <li>
      <a href="https://synergysports.com/" title="SynergySports" target="_blank" rel="noopener">
        <img src="/images/selected-partners/synergysports.png" alt="SynergySports">
      </a>
    </li>
    <li>
      <a href="https://en.gritworld.com/" title="GritWorld" target="_blank" rel="noopener">
        <img src="/images/selected-partners/gritworld.png" alt="GritWorld">
      </a>
    </li>
    <li>
      <a href="https://www.getmailbird.com/" title="MailBird" target="_blank" rel="noopener">
        <img src="/images/selected-partners/mailbird.png" alt="MailBird">
      </a>
    </li>
  </ul>
</section>

<section id="testimonials" class="purple-gradient">
<h1>What people are saying about Avalonia</h1>
  <a href="https://www.jetbrains.com/" title="JetBrains" target="_blank" rel="noopener">
    <img src="/images/selected-partners/jetbrains.svg" alt="JetBrains">
  </a>

  <h4>The dotTrace/dotMemory team </h4>
  <q><i>We’ve been considering making our standalone profilers for .NET cross-platform for some time now, and we’ve been actively looking for a UI framework to use. As our tools use WPF, Avalonia was an easy choice for us. It is an impressive technology which has seen tremendous growth in recent years, and it feels mature enough to be used for production code. And we greatly appreciate the quick and helpful support we have had from the Avalonia developers who have addressed our questions.</i></q>
</section>

<section id="featured-products">
  <div class="carousel">
    <div>
      <div class="featured-product">
        <div>
          <h1>Featured Product</h1>
          <h2>GritGene</h2>
          <p>
            <a href="https://www.gritworld.com/gritgene">GritGene</a> is a new digital engine that is currently being built by
            <a href="https://www.gritworld.com/gritgene">GritWorld</a>. The UI, written using Avalonia, houses a real-time digital
            graphics engine and that can scale from low-end hardware to high-end GPU clusters on the cloud.
          </p>
        </div>
        <a href="~/images/featured-products/gritgene.png" class="lightbox">
          <img src="~/images/featured-products/gritgene.png" alt="GritGene screenshot">
        </a>
      </div>
    </div>
    <div>
      <div class="featured-product">
        <div>
          <h1>Featured Product</h1>
          <h2>Wasabi Wallet</h2>
          <p>
            <a href="https://wasabiwallet.io/">Wasabi Wallet</a> is an open-source, non-custodial, privacy-focused Bitcoin wallet
            for Desktop computers, that implements trustless coin shuffling with mathematically provable anonymity. It is written
            in .NET Core and uses Avalonia as its UI framework.
          </p>
        </div>
        <a href="~/images/featured-products/wasabi.png" class="lightbox">
          <img src="~/images/featured-products/wasabi.png" alt="Wasabi screenshot" loading="lazy">
        </a>
      </div>
    </div>
    <div>
      <div class="featured-product">
        <div>
          <h1>Featured Product</h1>
          <h2>Core2D</h2>
          <p>
            <a href="https://github.com/wieslawsoltes/Core2D">Core2D</a>  is a multi-platform application for making data driven
            2D diagrams. The application has built-in wyswig vector graphics editor where you can bind data to shapes, share data
            across multiple documents, edit documents using layers. It supports exporting documents to many popular file formats
            like pdf, bitmaps and dxf. You can automate drawing and processing by using C# scripting.
          </p>
        </div>
        <a href="~/images/featured-products/core2d.png" class="lightbox">
          <img src="~/images/featured-products/core2d.png" alt="Code2D screenshot" loading="lazy">
        </a>
      </div>
    </div>
    <div>
      <div class="featured-product">
        <div>
          <h1>Featured Product</h1>
          <h2>DotPurple</h2>
          <p>
            <a href="https://dotpurple.io/">DotPurple</a> provides an intuitive UI for Dotnet. Avalonia is used for OSX and Linux.
          </p>
        </div>
        <a href="~/images/featured-products/dotpurple.png" class="lightbox">
          <img src="~/images/featured-products/dotpurple.png" alt="DotPurple screenshot" loading="lazy">
        </a>
      </div>
    </div>
    <div>
      <div class="featured-product">
        <div>
          <h1>Featured Product</h1>
          <h2>Radish</h2>
          <p>
            <a href="https://github.com/rbmkio/radish">Radish</a> is an open-source, cross-platform desktop client for Redis.
          </p>
        </div>
        <a href="~/images/featured-products/radish.png" class="lightbox">
          <img src="~/images/featured-products/radish.png" alt="Radish screenshot" loading="lazy">
        </a>
      </div>
    </div>
  </div>
</section>

<section id="net-foundation" class="with-img-right-responsive purple-gradient">
  <h1>.NET Foundation</h1>
  <p>
    Avalonia is a <a href="https://dotnetfoundation.org">.NET Foundation project</a>. Other projects that are associated
    with the foundation include the .NET Compiler Platform ("Roslyn") as well as the ASP.NET family of projects, .NET Core &
    Xamarin Forms.
  </p>
  <a class="button dock-bottom" href="https://dotnetfoundation.org/">Find out more</a>
  <img src="~/images/dotnetfoundation.svg" alt="dotnet foundation logo">
</section>
