@page
@{
  ViewData["Title"] = "Avalonia Support";
}

@section Sidebar {
  <h1><span class="white">avalonia</span> support</h1>
  <p>
    Learn how to get support for Avalonia.
  </p>
}

@section HeroContent {
  <p><b>
    Avalonia is a <a href="https://choosealicense.com/licenses/mit/">MIT Licenced</a> open-source
    project, meaning that it's free to use for open source and commercial projects. However if
    you're developing a commerial product using Avalonia you may want to consider a paid support
    plan from AvaloniaUI OÜ:
  </b></p>
  <div class="support-options">
    <div class="support-option">
      <header>Community</header>
      <ul>
        <li><span class="support-heading">FREE</span></li>
        <li>
          <span class="support-heading">Commercial Applications</span>
          <span class="check"><i class="fas fa-check-circle"></i></span>
        </li>
        <li>
          <span class="support-heading">Royalty Free</span>
          <span class="check"><i class="fas fa-check-circle"></i></span>
        </li>
        <li>
          <span class="support-heading">Technical Support</span>
          <span>GitHub issues and Gitter</span>
        </li>
        <li>
          <span class="support-heading">Bug Fixes</span>
          <span>Standard</span>
        </li>
        <li>
          <span class="support-heading">Feature Development</span>
          <span>According to roadmap</span>
        </li>
        <li>
          <span class="support-heading">Consultancy</span>
          <span>Paid</span>
        </li>
        <li>
          <a class="button" href="/docs/quickstart">Get started</a>
        </li>
      </ul>
    </div>
    <div class="support-option">
      <header>Paid</header>
      <ul>
        <li><span class="support-heading">PER SEAT</span></li>
        <li>
          <span class="support-heading">Commercial Applications</span>
          <span class="check"><i class="fas fa-check-circle"></i></span>
        </li>
        <li>
          <span class="support-heading">Royalty Free</span>
          <span class="check"><i class="fas fa-check-circle"></i></span>
        </li>
        <li>
          <span class="support-heading">Technical Support</span>
          <span>IM, Email, Video Chat, Phone</span>
        </li>
        <li>
          <span class="support-heading">Bug Fixes</span>
          <span>Priority</span>
        </li>
        <li>
          <span class="support-heading">Feature Development</span>
          <span>Influence the roadmap</span>
        </li>
        <li>
          <span class="support-heading">Consultancy</span>
          <span>Expert advice for your implementation</span>
        </li>
        <li>
          <a class="button" href="mailto:team@avaloniaui.net" target="_blank" rel="noopener">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
}

<section class="purple-gradient">
  <h1>AvaloniaUI OÜ</h1>
  <p>
    AvaloniaUI OÜ is a company formed in 2020 by a group of core Avalonia developers, including
    Steven Kirk (<a href="https://github.com/grokys">@@grokys</a>),
    Nikita Tsukanov (<a href="https://github.com/kekekeks">@@kekekeks</a>) and
    Dan Walmsley (<a href="https://github.com/danwalmsley">@@danwalmsley</a>). Our goal is to ensure
    the future of Avalonia development and support commercial projects building on the Avalonia
    framework.
  </p>
</section>
<section>
  <h1>Avalonia Support</h1>
  <p>
    AvaloniaUI OÜ offers paid monthly and yearly support packages for companies who are developing
    with Avalonia. With a support package, you can be sure to get timely responses to your questions
    from the core team, priority bug fixes, and a hand in deciding future feature development.
  </p>
  <p>
    Email us at <a href="mailto:team@avaloniaui.net">team@avaloniaui.net</a> for more information.
  </p>
</section>
<section class="purple-gradient">
  <h1>Consulting</h1>
  <p>
    AvaloniaUI OÜ also offers consulting and custom development to companies who want to take
    advantage of our expertise.
  </p>
  <p>
    Email us at <a href="mailto:team@avaloniaui.net">team@avaloniaui.net</a> for more information.
  </p>
</section>
<section>
  <h1>Community Support</h1>
  <p>
    Drop into our <a href="https://gitter.im/AvaloniaUI/Avalonia">gitter chat room</a> to to talk
    about Avalonia and get help from the community and core developers.
  </p>
  <p>
    Or if you have a problem, open an issue on our
    <a href="https://github.com/AvaloniaUI/Avalonia/issues">GitHub Repository</a>.
  </p>
</section>
