/* Default sidebar leaves space for hamburger menu bar, but hero sidebar doesn't */
.hero-container .sidebar {
  margin-top: 0;
}

/* Default sidebar hides logo on narrow layouts, but hero sidebar doesn't */
.hero-container .sidebar .avalonia-logo {
  display: inline-block;
  margin: -14px 0 var(--padding-small) 2px;
}


.hero-content {
  padding: var(--padding-large);
}

.hero-content .center {
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.hero-content .two-column {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.hero-content .two-column > * {
  padding: var(--padding-small);
}

.hero-content img {
  max-width: 1100px;
}

/* Display hero section in 2 columns if > 1024px */

@media (min-width: 1025px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr minmax(0, 2fr);
  }

  .hero-content {
    padding-top: var(--nav-height);
  }

  .hero-content .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 100%;
  }
}
