ul.platform-logos {
  list-style: none;
  margin-bottom: calc(-1 * var(--padding-small));
  padding: 0;
}

ul.platform-logos li {
  display: inline-block;
  margin: var(--padding-small) var(--padding-small) 0 0;
}

ul.platform-logos li img {
  height: 50px;
}

.homepage-hero .carousel-fade img {
  max-width: 100%;
}

.homepage-hero .dev-tools ul {
  list-style: none;
  margin-bottom: calc(var(--padding-small) * -1);
}

.homepage-hero .dev-tools ul > li{
  display: inline-block;
  width: 100px;
  padding: 5px 15px;
}

.homepage-hero .dev-tools ul > li img{
  width: 100%;
}

.dev-tools {
  text-align: center;
}

ul.selected-partners {
  list-style: none;
  padding: 0;
}

ul.selected-partners li {
  display: inline-block;
  padding: 2em 2em 0 0;
}

ul.selected-partners li img {
  max-height: 64px;
}

.featured-product p {
  margin-right: 2em;
}

.featured-product img {
  margin-bottom: 2em;
  max-height: 580px;
}

.featured-product .lightbox {
  outline: none;
}

@media (min-width: 1024px) {
  /* Display featured product in columns if > 1024px */
  .featured-product {
      display:grid;
      grid-template-columns: 1fr 2fr;
  }
}

/* Reduce devtool images if width < 740px */

@media (max-width: 740px) {
  .homepage-hero .dev-tools ul > li{
    width: 64px;
  }
}

